<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--<add name="pos_adminEntities" connectionString="metadata=res://*/DcGeneral.csdl|res://*/DcGeneral.ssdl|res://*/DcGeneral.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-CVOMG1OH;initial catalog=pos_admin;persist security info=True;user id=sa;password=Sistemas410;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="db_cfdi_facturasEntities" connectionString="metadata=res://*/DcGeneral.csdl|res://*/DcGeneral.ssdl|res://*/DcGeneral.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-CVOMG1OH;initial catalog=db_cfdi_facturas;persist security info=True;user id=sa;password=Sistemas410;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="Db_cfdi_facturas_entidades" connectionString="metadata=res://*/Db_General_Facturacion.csdl|res://*/Db_General_Facturacion.ssdl|res://*/Db_General_Facturacion.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-OTGCKD3\SQLEXPRESS;initial catalog=db_cfdi_facturas;persist security info=True;user id=sa;password=Admin123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>